body{
  background-image: url(./images/towers3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: auto;
  text-align: center;
  margin: 0pt;
}

#rows-containter{
  display: flex;
  flex-direction: column;
  transform: rotate(270deg);
  justify-content: center;
  align-items: center;
  padding-right: 350pt;
}


.topHr{
  width: 220pt;
  height: 2pt;
}

.bottomHr {
  width: 1000pt;
  margin-top: 250pt;
}
[data-row] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 34px;
  margin: 25px;
  border: 1px solid lightgray;
}

.row {
  z-index: -10;
}

[data-row].dark-blue {
  background-color: #6C96A7;
  width: 250pt;
  padding: 5pt;
}

[data-row].middle-blue {
  background-color: #97B0BF;
  width: 250pt;
  padding: 5pt;
}

[data-row].light-blue {
  background-color: #B9C5CD;
  width: 250pt;
  padding: 5pt;
}

[data-row].blue {
  background-color: aliceblue;
}

.stone {
  z-index: 10;
}

[data-color] {
  width: 35px;
  float: left;
}

[data-color="mauve"] {
  height: 34px;
  background-color: #9F9298;
}

[data-color="grey-blue"] {
  height: 39px;
  background-color: #415566;
}

[data-color="grey"] {
  height: 44px;
  background-color: #A0A49F;
}

[data-color="brown"] {
  height: 50px;
  background-color: #5F4C47;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
