[data-row] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 400px;
  width: 34px;
  margin: 25px;
  border: 1px solid lightgray;
}

#rowContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly
}

.row {
  z-index: -10;
}

[data-row].red {
  background-color: #f6c5c5;
  
}

[data-row].yellow {
  background-color: #ffffa9;
}

[data-row].green {
  background-color: #15e927;
}

[data-row].blue {
  background-color: aliceblue;
}

.stone {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: black;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-style: oblique;
}

[data-color] {
  width: 34px;
  float: left;
}

[data-color="blue"] {
  height: 34px;
  background-color: rgb(65, 65, 194);
}

[data-color="orange"] {
  height: 34px;
  background-color: orange;
}

[data-color="red"] {
  height: 34px;
  background-color: red;
}

[data-color="yellow"] {
  height: 34px;
  background-color: yellow;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
